#container {
	background-color: white;
	width: 1000px;
	min-height: 100%;
	position: relative;
	margin-left:  auto;
	margin-right: auto;
	color:  black;
}

#content {
	padding: 10px;
	min-height: 85%;
}
#header {
	margin-top: 0px;
	width: 100%;
	height: 40px;
	color: black;
	text-align: center;
	background-color:  #464749;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
#header h1 {
	margin: 0px;
	padding-top: 5px;
	color: white;
	font-family: 'Roboto', sans-seriff;
	font-size:  1.2vw;
	text-shadow: -1px 1px 0 #000;
}


#pic {
	width:  200px;
	float:  left;
}

#main {
	width:  680px;
	float:  right;
	color: black;
	margin-right: 20px;

}

#footer {
	clear: both;
	color:  black;
	position: absolute;
	bottom: 0;
	width:  100%;
	height:  50px;
	text-align: right;
	font-size:  1rem;
}

#footer a {
	font-family: "Times New Roman", Times, serif;
	text-decoration: underline black;
	font-size: 1rem;
}
#footer p {
	margin-right: 20px;
}

#nav {
	background-color:  white;
	text-align: center;
	color:  white;
	
}

#nav a {
	margin-bottom: 0px;
}

html {background-color: #1F2833 }


#nav ul{
	width:  auto;
	margin-top: 8px;
	margin-block-end: 0px;

}

#nav li{
	display: inline-block;
	padding:  15px 30px;
}

a{
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-seriff;
	font-size:  1.2vw;
	text-decoration: none;
}



a:hover {
	color: black;
	transition: 0.5s;
	text-decoration: none !important;
}

img {
	margin-top: 16px;
	max-width: 120%;
	height: auto;
}

#custom_link { 
	padding: 10px 10px;

}

#home_text {
	padding: 10px;
	padding-left: 15px;
	font-family: "Alice",serif;
}
#home_text p {
	margin: 10px 15px;
}

#main p {
	font-family: "Alice",serif;
	font-size:  .9vw;
	margin-block-end: 10px;
}
#main ul{	
    margin-block-start: 0px;
    
}