#container {
	background-color: white;
	width: 1000px;
	min-height: 100%;
	position: relative;
	margin-left:  auto;
	margin-right: auto;
	color:  black;
}

#content {
	padding: 10px;
	min-height: 85%;
}
#header {
	margin-top: 0px;
	width: 100%;
	height: 40px;
	color: black;
	text-align: center;
	background-color:  #588157;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}


#pic {
	width:  200px;
	float:  left;
}

#main {
	width:  680px;
	float:  right;
	color: black;

}

#footer {
	clear: both;
	color:  black;
	position: absolute;
	bottom: 0;
	width:  98%;
	height:  50px;
	text-align: right;
	font-size:  1rem;
}

#footer a {
	font-family: "Times New Roman", Times, serif;
	text-decoration: underline black;
	font-size: 1rem;
}

#nav {
	background-color:  #C5C6C7;
	text-align: center;
	color:  white;
	
}

#nav a {
	margin-bottom: 0px;
}

html {background-color: #1F2833 }


ul{
	width:  auto;
	margin-top: 8px;
	margin-block-end: 0px;

}

li{
	display: inline-block;
	padding:  15px 30px;
}

a{
	text-align: center;
	color: inherit;
	font-family: 'Roboto', sans-seriff;
	font-size:  1.2vw;
	text-decoration: none;
}

a:hover {
	color: black;
	transition: 0.5s;
	text-decoration: none !important;
}

img {
	max-width: 120%;
	height: auto;
}

#custom_link { 
	padding: 10px 10px;

}