{% extends "base.html" %}

{% block content %}
	<div id="header">
				<h1> {{ header }} </h1>
			</div>

	<div id="content">
		<div id="pic">
				<img src="{{ url_for('static', filename='face.jpg') }}">
		</div>
		<div id="main">
			<p>I'm Patrick Harding, and just finished my second year of studying computer science at Palomar College. I've taken all the lower-division computer science and math classes required to transfer at most universities, which includes: </p> 
			<ul>
				<li>C++ and Java OOP </li>
				<li>Machine Organization and Assembly Language(Armv8)</li>
				<li>Data Structures</li>
				<li>Linear Algebra</li>
				<li>Multivariable/Vector Calculus</li>
				<li>2 Course sequence of caluculus-based Physics</li>
			</ul>
			<p>I've been getting more serious about learning software and web development recently, and decided to pick up Python a couple months ago because it's versatile and easy to learn.</p>
			<p>This website is made using Flask framework, and I've taught myself more HTML/CSS along with it. There's been a lot to take in, but I'm learning a lot about how websites are designed and managed.</p>
			<p>One thing I wish I could showcase more on this site is the backend potential; I've made a login and posting page, but it doesn't seem suitable for a portfolio website. Maybe I'll add a place where users can post comments on a board.</p>
		</div>
	</div>

{% endblock %}