<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		
		{% if title %}
			<title>{{ title }} - My Blog</title>
		{% else %}
			<title>Welcome to My Blog</title>
		{% endif %}
		<meta charset="utf-8">
	</head>


			{% if header %}
				<h1>{{ header }} </h1>
			{% endif %}

			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}

	</body>
</html>